<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="ion-no-padding" > <ion-icon name="chevron-back-outline"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="ion-no-padding"> <ion-icon name="help-buoy-outline"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">#/#</ion-title>
    <ion-progress-bar color="success" value="0.22"></ion-progress-bar>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="padding: 10px; margin: 10px;">
    
    <img class="img-width-350 img-center" src="https://hatinh.gov.vn/uploads/topics/16461006518131.jpg"/>
    <ion-card-subtitle style="padding-left: 10px; padding-top: 10px;">Choose the best answer</ion-card-subtitle>
    <ion-card-title style="padding: 10px;">This is a sample question</ion-card-title>
    <ion-card-content style="padding: 10px;">
      <ion-button expand="block">Option 1</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
