.card-margin {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 22px;
    padding: 8px
}

.editable-title {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 5px;
    padding: 8px
}

ion-input.input-fill-outline.sc-ion-input-md-h {
    min-height: 40px;
}

ion-input.input-fill-solid.sc-ion-input-md-h {
    --background: white;
    --border-color: #a9a9a9;
    min-height: 40px;
}

.input-fill-solid.sc-ion-input-md-h {
    --padding-start: 0px
}

.special[activated="false"] {
    font-weight: bold;
	background: -webkit-linear-gradient( #4d1cca, #2f7ff0);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

.special[activated="true"] {
    font-weight: bold;
	background: -webkit-linear-gradient( #4d1cca, #2f7ff0);
    color: white;
    ion-icon {
        stroke: white;
    }
}



.rtebtn {
    background-color: transparent;
    color: #4e4e4e;
    box-shadow: none; padding: 10px;
    width:33px;
    height: 33px;
} 

.rtebtn[activated="true"]{
    background-color: #514cb1;
    color: white
}

.rtedropdown {
    width: 100px;
    color: white;
}

ion-button{
    span{
      text-align:left;
      width:100%;
    }
  }

@media (prefers-color-scheme: light) {
    .rtedropdown {
        color:black
    }
    .rtedropdown > * {

        color: black;
    }
}


@media only screen and (min-width: 460px) {

  }

@media only screen and (min-width:495px) {
    .span-right-desktop {
        float: right;
    }
    .rbreak {
        display: none;
      }
  
}

  @media only screen and (max-width: 495px) {
    .span-right-desktop {
        float: left;
    }
  }


ion-select.select-fill-outline {
    min-height: 42px;
}

.foreground {

    // https://stackoverflow.com/questions/17976995/how-to-center-absolute-div-horizontally-using-css
    background-color: transparent;
    z-index: 10;

    left:0;
    right:0;
  
    margin-left: auto;
    margin-right: auto;
  
    position: absolute;
    width: 100%;
    max-width: 800px;


}