<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Flashcards</ion-title>

    <ion-buttons slot='start'>
      <ion-button (click)="exitRevision()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="acceptScroll" [fullscreen]="true">

  <ion-modal #flashcardViewerModal [isOpen]="flashcardViewerModalShown">
    <ng-template>
      <ion-card-title class="ion-padding">
        Flashcard revision
      </ion-card-title>
      <div style="height: calc(100% - 20px); overflow-y: scroll;">
        <div #flashcardListDiv style="overflow-y:visible;">
        
        <ion-list #flashcardList *ngIf="isResourceReady">
          <ion-item *ngFor="let k of keywords | keyvalue">
            <ion-card class="ion-padding">

              <ion-grid>
                <ion-row>
                  <ion-col style="width: calc(30%);">
                    <img width="100%" style="padding-right: 10px;" src="{{getImgLinkFromDef(k.value)}}"/>
                  </ion-col>
                  <ion-col style="min-width: 62%;">
                    <ion-card-title>{{k.key}}</ion-card-title>
                    <ion-card-content style="padding: 0px;">
                      
                      <ion-label style="padding-top: 10px;">{{k.value}}</ion-label>
                    
                    </ion-card-content>
                  </ion-col>
                </ion-row>
              </ion-grid>

              
            </ion-card>
          </ion-item>
        </ion-list>
      </div>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="exitToDashboard()">Done!</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" fill="outline" (click)="exportFlashcardList()">Export as image</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ng-template>
  </ion-modal>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Flashcards</ion-title>
      <ion-buttons slot='start'>
        <ion-button (click)="exitRevision()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div slot="fixed" style="z-index: 20; user-select: none; padding: 10px; height: fit-content; width: 100%;">
        
    <div #dropzone style="color: #1b2783;  border: 2px dotted #475cff; height: calc(100%); border-radius: 15px; background-color: #ffffff;">
      <ion-grid>
        <ion-row style="height: 145px; margin-left: 5px;">
          <ion-col style="max-width: fit-content; padding: 0px;" *ngIf="showImage">
            <img #flashcardImg style="padding: 0px;" src={{imgs.get(currentQ)}} height="130px"/>
          </ion-col>
          <ion-col style="padding: 10px ;" *ngIf="isResourceReady">
            <h3><b>{{currentA}}</b></h3><br/>
            <p>{{currentQ}}</p>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col style="max-width: fit-content;">
            <button (click)="toggleImg()" style="padding: 10px;">Toggle image</button>
          </ion-col>
          <ion-col style="width:fit-content">
            <button (click)="nextQ()" style="padding: 10px;">{{skipBtnLabel}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
  </div>

  <div style="padding-top: 150px;height: 100%; max-width: 880px; margin:auto;">


      

      <div style="user-select: none; z-index: 10; padding-top: 150px;" *ngIf="isResourceReady">

          <ion-item  class="draggable" *ngFor="let p of keys">
            {{p}}
            <ion-icon name="reorder-three-outline" slot="end"></ion-icon>
          </ion-item>

      </div>

      

      <div style="margin-top: 150px;user-select: none; z-index: 10; margin: auto; align-items: center;" *ngIf="!isResourceReady">

          <img src="../../assets/icon/ellipsis.gif" style="margin-left: auto; margin-right: auto;"/>

      </div>
  </div>


</ion-content>
