<ion-header [translucent]="true">
  <ion-toolbar collapse="condense">
    <ion-title>{{'goalSetterIntro' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-header>{{'goalSetterIntro' | translate }} </ion-header>
  </ion-header>

  


  <ion-card>

    <ion-card-content style="display: flex; width: 100%;">
      <ion-grid>
        <ion-col>
          <ion-button  style="float: right;">
            <ion-icon slot="start" name="add"></ion-icon>
            {{'newGoal' | translate}}
          </ion-button>
        </ion-col>
      </ion-grid>
      
    </ion-card-content>
    
  </ion-card>

</ion-content>
